################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/InvoiceSystem/.vs/InvoiceSystem
/InvoiceSystem/InvoiceSystem/bin/Debug/net8.0
/InvoiceSystem/InvoiceSystem/obj
