################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/InvoiceSystem/.vs/InvoiceSystem
/InvoiceSystem/InvoiceSystem/bin/Debug/net8.0
/InvoiceSystem/InvoiceSystem/obj
/InvoiceSystem/.vs/ProjectEvaluation
/InvoiceSystem/InvoicingSystem.Test/bin/Debug/net8.0/.msCoverageSourceRootsMapping_InvoicingSystem.Test
/InvoiceSystem/InvoicingSystem.Test/obj/project.nuget.cache
/InvoiceSystem/InvoicingSystem.Test/obj/InvoicingSystem.Test.csproj.nuget.dgspec.json
/InvoiceSystem/InvoicingSystem.Test/obj/InvoicingSystem.Test.csproj.nuget.g.props
/InvoiceSystem/InvoicingSystem.Test/obj/project.assets.json
/InvoiceSystem/InvoicingSystem.Test/obj/Debug/net8.0/InvoicingSystem.Test.AssemblyInfo.cs
/InvoiceSystem/InvoicingSystem.Test/obj/Debug/net8.0/InvoicingSystem.Test.AssemblyInfoInputs.cache
/InvoiceSystem/InvoicingSystem.Test/obj/Debug/net8.0/InvoicingSystem.Test.assets.cache
/InvoiceSystem/InvoicingSystem.Test/obj/Debug/net8.0/InvoicingSystem.Test.csproj.AssemblyReference.cache
/InvoiceSystem/InvoicingSystem.Test/obj/Debug/net8.0/InvoicingSystem.Test.GeneratedMSBuildEditorConfig.editorconfig
